@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    500px circle at var(--x) var(--y),
    rgba(99,102,241,0.25),
    transparent 40%
  );
  pointer-events: none;
}
